.list_features {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #b5bbc1;
  .list__item {
    height: 41px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    border-top: 1px solid #e2e9f0;
  }
}
.list_blueish {
  @extend .list_features;
  color: #c2e1ff;
  .list_features {
    background-color: #8eb8e2;
  }
}