{% from 'templates/macro/menu.twig' import menu %}
{% from 'templates/macro/logo.twig' import logo_header %}
<header class="page-header">
    <div class="page-header__container">
        <div class="page-header__logo">
            {{ logo_header() }}
        </div>
        <div class="page-header__menu">
            {{ menu(menuLinks|default([])) }}
        </div>
    </div>
</header>



