{% from 'templates/macro/form-control.twig' import input %}
{% from 'templates/macro/form.twig' import inline_form %}
{% from 'templates/macro/buttons.twig' import button %}
{% from 'templates/macro/headers.twig' import header_h1 %}

<div class="look-at-me">
    <div class="look-at-me__header">
        {{ header_h1({
            text:'Boost up your Local business',
            subtext: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting',
            alt:true,
        }) }}
    </div>
    <div class="look-at-me__form">
        {{ inline_form([
            input({ icon: 'person', placeholder: '', label: 'Full Name', }),
            input({ icon: 'email', label: 'Email Address', type: 'email', }),
            input({ icon: 'phone', label: 'Phone Number', type: 'phone', }),
            button('Request a quote', {type:'submit', classes: 'btn_request-quote'}),
        ]) }}
    </div>
    <div class="look-at-me__carousel">
        <div class="carousel-container">
            <div class="owl-carousel owl-theme">
                {% for i in 1..3 %}
                    <img src="{{ path('@images/laptop_with_screen.png') }}" alt="">
                {% endfor %}
            </div>
        </div>
    </div>
</div>