

{% macro menu(items, activeIndex = 0) %}
    {% from 'templates/macro/buttons.twig' import header_menu_btn as button %}
    <div class="menu">
        {% for item in items %}
            {{ button(item.title, item.link, loop.index0 == activeIndex , 'menu-item') }}
        {% endfor %}
    </div>
{% endmacro %}
