$bg: #fff;
$bg-map_text: #394b50;

$font: #7b7b7b;
$font-headers: #394b50;
$font-footer_links: #394b50;

//

$color-opposite: #fff;
$color-link: #868686;
$bg-warn: #ffbb42;
$bg-primary: #fff;
$bg-warn-dark:#e7ad48;
$bg-warn-lighter: #ffc155;
$bg-attention: #709dca;

$font-label: #a9a9a9;
$font-label-icon: #6e6e6e;
