@import '~normalize-scss/fork-versions/default/normalize';
$fa-font-path:        "../fonts/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import 'fonts/lato';
@import 'fonts/monserrat';
@import 'fonts/gothamBlack';
@import 'fonts/openSans';
@import "parts/menu";
@import "parts/btns";
@import "parts/form";
@import "parts/headers";
@import "vars/_font";
@mixin container() {
  width: 1180px;
  margin: 0 auto;
}

.page-header {
  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
  }
  &__logo {
    padding: 22px 0 23px;
  }
  &__menu {
    padding: 30px 0 29px;
  }
}