@import '~normalize-scss/fork-versions/default/normalize';
$fa-font-path: "../fonts";
@import "~font-awesome/scss/font-awesome";

@import "vars/font";
@import "vars/color";
@import 'fonts/lato';
@import 'fonts/monserrat';
@import 'fonts/gothamBlack';
@import 'fonts/openSans';
@import "parts/menu";
@import "parts/list";
@import "parts/btns";
@import "parts/form";
@import "parts/card";
@import "parts/steps";
@import "parts/headers";
@mixin container() {
  width: 1180px;
  margin: 0 auto;
}
@mixin clearfix() {
  &:after {
    content: '';
    clear:both;
    display: table;
  }
}


.page-header {
  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
  }
  &__logo {
    padding: 22px 0 20px;
  }
  &__menu {
    padding: 30px 0 28px;
  }
}
.carousel-container {
  width: 647px;
  height: 343px;
  margin: 0 auto;
}
.owl-dots .owl-dot {
  &.owl-dot_outline span {
    margin: 10px 3px;

    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid #dedfe0
  }
  &.owl-dot_lightblue.active span {
    background-color: transparent;
    border: 2px solid #1ca8dd
  }
  &.owl-dot_lightblue:hover span {
    background-color: transparent;
    border: 2px solid #1ca8dd
  }
}
.look-at-me {
  background-color: $bg-attention;
  height: 585px;
  margin-bottom: 196px;

  &__header {
    padding: 76px 0 0;
  }

  &__form {
    position:relative;
    padding-top: 13px;
    text-align: center;
    left: -7px;
  }

  &__carousel {
    position:relative;
    padding-top: 64px;
    left:-5px;
  }

}

.services {
  @include container();
  &__cards{
    display: flex;
    flex-wrap: wrap;
    padding:63px 0 ;
  }
}

.about {
  background-color: $bg-warn-lighter;
  &__img {
    background-image: url("../images/desk.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50% 100%;
    width: 50%;
    margin-right: 76px;
    float:left;
  }
  &__text {
    color: $color-opposite;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    @include container();
  }
  &__title {
    padding: 130px 0 0;
    & .h2 {
      margin-bottom: 18px;
    }
  }
  &__btn {
    padding-top: 26px;
  }
  @include clearfix()
}

.prices {
  box-sizing: border-box;
  padding: 106px 0 0;
  background-color: #e7edf3;
  height: 895px;
  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0 0;
  }
}
.workflow {
  @include container();
  width: 1205px;
  height: 732px;
  padding-top: 123px;
  position: relative;
  &__cards {
    padding: 46px 0 0;
    display: flex;
    justify-content: space-around;
  }
  &__btn {
    text-align: center;
    margin-top: 90px;
  }
  &__arrows {
    display: flex;
    justify-content: space-around;
    width: 913px;
    margin: 0 auto;
  }
}
.arrow {
  background-image: url("../images/arraw_top.svg");
  background-size: 100% 100%;
  width: 128px;
  height: 33px;
  position: relative;
  top: 52px;
  &:nth-of-type(even) {
    transform: rotate(180deg);
    top: 148px;
  }
}

.review {
  background-color: $bg-warn-lighter;
  padding: 107px 0 0;
  height: 798px;
  &__cards {
    padding: 35px 0 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    @include container;
  }
}

.newsletter {
  padding: 121px 0 0;
  &__form {
    padding-top: 13px;
    text-align:center;
  }
}
.address {
  @include container;
  width: 1110px;
  background-image: url("../images/map.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 655px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__balloon {
    position: relative;
    top: -95px;
    left: -4px;
    display: block;
    border-radius: 50%;
    padding: 62px 70px 10px;
    width: 140px;
    height: 208px;
    font-family: "Open Sans", sans-serif;
    color: #aeb7ba;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    background-color: $bg-map_text;
    text-align: center;
    &::after {
      box-sizing: border-box;
      content: '';
      border: 14px solid transparent;
      border-top: 30px solid #394b50;
      border-bottom: 0;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-14px);
    }
    &::before {
      content: '';
      background-image: url("../images/logo-2.png");
      background-size: contain;
      width: 50px;
      height: 48px;
      position: absolute;
      bottom:-65px;
      left: 50%;
      transform: translateX(-25px);
    }
  }
  &__title {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
  }
  &__highlighted {
    color: $bg-warn;
    line-height: 24px;
  }

}

.divider {
  width: 1170px;
  margin: 0 auto;
  height: 1px;
  background-color: #e3e7ec;
}
.footer {

  &__menu {
    padding-top: 52px
  }
  &__number {
    /* Style for "+987 9976" */
    color: #394b50;
    font-family: Lato, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 24.15px;
    text-align: center;
    padding-top: 7px;

    &::before {
      @extend .fa;
      content: $fa-var-phone;
      width: 16px;
      height: 17px;
      color: #394b50;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &__soc {
    display: flex;
    justify-content: center;
    padding-top:16px;
  }
  &__copyright {
    margin-top: 50px;
    background-color: $bg-attention;
    text-align: center;
    padding: 10px 0;
    color: $color-opposite;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
  }
}